.qcw-trigger-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 0;
  border-radius: 15px;
  background: $primary-color;
  color: $primary-text-color;
  font-weight: bold;
  padding: 10px 25px;
  cursor: pointer;
  transition: all .12s ease;
  box-shadow: 0 3px 7px rgba(0,0,0,.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  outline: none;
  &:hover {
    transform: translateY(-3px);
  }
  i.fa.fa-comments {
    font-size: 15px;
    margin-right: 10px;
  }
  i.fa.fa-chevron-up {
    font-size: 15px;
    margin-left: 10px;
  }
  .qcw-app--wide-mode & {
    display: none;
  }
}
