.qcw-comment .avatar {
  border: 2px solid darken($primary-color, 10);
  min-width: 30px;
  margin-right: 15px;
  position: relative;
  z-index: 2;
  width: 50px !important; height: 50px !important;
}
.qcw-comment .avatar img {
  width: 50px !important; height: 50px !important;
}
.qcw-comment {
  display: flex;
  position: relative;
  font-size: 12px;
  &.welcome:before{
      border: 0;
  }
  &.comment--me {
    justify-content: flex-end;
  }
}
.qcw-comment__content {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  padding-right: 50px;
  font-size: 13.6px;
}
.qcw-comment__message {
  line-height: 1.7em;
  min-height: 30px;
  margin-bottom: 1px;
  background: $bubble-color;
  padding: 10px;
  position: relative;
  word-break: break-word;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  color: #444;
  a {
    transition: all .32s ease;
    color: #039be5;
    text-decoration: underline;
  }
  .comment--me & {
    background: $mybubble-color;
    color: #444;
  }
  .comment--parent & {
    border-radius: 8px 8px 8px 0;
    margin-top: 9px;
    min-width: 200px;
    padding: 10px;
  }
  .comment--parent.comment--me & {
    border-radius: 8px 0 0 8px;
  }
  .comment--mid & {
    border-radius: 0 8px 8px 0;
  }
  .comment--mid.comment--me & {
    border-radius: 8px 0 0 8px;
  }
  .comment--last & {
    border-radius: 0 8px 8px 8px;
  }
  .comment--last.comment--me & {
    border-radius: 8px 0 8px 8px;
  }
  .comment--parent.comment--last & {
    border-radius: 8px 8px 8px 8px;
  }
  .comment--parent &:after, .comment--parent.comment--me &:after {
    position: absolute;
    top: 0;
    pointer-events: none;
    content: " ";
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: $mybubble-color;
  }
  .comment--parent &:after {
    left: -8px;
    border-top-color: lighten($bubble-color, 20);
  }
  .comment--parent.comment--me &:after {
    left: auto;
    right: -8px;
  }
}
.welcome__message {
  padding-top: 5px;
  line-height: 1.7em;
  min-height: 68px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100%;
  background: #F4F4F4;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 3px 5px rgba(0,0,0,.15);
}
.qcw-comment__message p {
  margin: 0;
}
.qcw-comment__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 7px;
}
.qcw-comment__username {
  font-weight: bold; line-height: 1;
  color: #444;
}
.qcw-comment__time {
  font-size: 10px;
  color: #888;
  &--children {
    position: absolute;
    bottom: 9px; right: 10px;
  }
  &--attachment {
    position: absolute;
    bottom: -5px; right: 10px;
  }
}
.qcw-image-container {
  height: 100px; overflow: hidden;
  border-radius: 0 0 5px 5px;
  
  img {
    min-width: 200px;
    min-height: 110px;
    max-width: 100%;
    cursor: -webkit-zoom-in;
    &:hover {
      opacity: 1;
    }
  }
}
.qcw-file-container{
  border: 1px solid rgba(0,0,0,.1);
  background: rgba(255,255,255,.3);
  border-radius: 5px;
  padding: 10px;
  .comment--last &, .comment-mid {
    margin: 10px 0;
  }
  a {
      display: inline-block;
      color: #2c3e50;
  }
  i.fa{
    position: relative;
    font-size: 3em;
    color: #2c3e50;
    float: left;
    margin-right: 10px;
  }
  .file-name{
    word-break: break-word;
    line-height: 1.4;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
  }
}
.qcw-comment__state {
  font-size: 9px;
  position: absolute;
  top: 7px; left: -7px;
  color: #ccc;
  text-indent: -5px;
  transition: opacity .32s ease;
  opacity: .3;
  .qcw-comment__message:hover & {
    opacity: 1;
  }
  &.fa.fa-times-circle {
    color: #e74c3c;
    font-size: 11px;
  }
  &--read {
    color: #3498db;
  }
}
.qcw-comment-date {
  text-align: center;
  color: #444;
  font-size: .8em;
  font-weight: bold;
  margin: 10px 0;
}
// let's style the link thumbnail thingy
.ejs-embed {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 25px;
  min-width: 250px;
//   border: 1px solid #ccc;
//   padding: 5px;
  .ejs-ogp-title { margin: 0 0 6px 0; }
  .ejs-ogp-title a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
  }
  .ejs-ogp-thumb {
    width: 50px; height: 50px;
    float: left;
    margin-right: 10px;
  }
  .ejs-ogp-details {
    left: 55px;
  }
}
.ejs-ogb-details {
  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  position: relative;
  margin-right: -1.5em;
  padding-right: 1em;
}
pre {
  background: #ccc;
  padding: 5px;
}
code {
  background: transparent;
}
.action_buttons {
  background: #e5e5e5;
  padding: 10px;
  margin: 10px -10px -10px -10px;
  display: flex;
  justify-content: space-between;
  button {
    flex-grow: 1;
    border: 0;
    color: #2d9cdb;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    &:hover {
      color: #8bd5f9;
    }
  }
}

// reply comment
.reply-wrapper {
  border-radius: 4px;
  background-color: #f4f2cc;
  padding: 10px 10px 10px 20px;
  position: relative;
  font-size: 12px;
  text-align: left;
  color: #757575;
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 4px;
    height: calc(100% - 20px);
    background: #009688;
    border-radius: 100px;
  }
  &.reply-wrapper--me:after {
    left: auto;
    right: 10px;
  }
}
.reply-sender {
  font-size: 14px;
  text-align: left;
  color: #009688;
}