.qcw-comment .qcw-avatar {
  // border: 2px solid darken($primary-color, 10);
  min-width: 30px;
  margin-right: 5px;
  position: relative;
  z-index: 2;
  width: 36px !important; height: 36px !important;
  border-radius: 50%;
  overflow: hidden;
  &.qcw-avatar--hide {
    visibility: hidden;
  }
}
.comment--parent .qcw-avatar {
  top: 9px;
}
.qcw-comment.comment--me .qcw-avatar {
  margin-right: 0;
  margin-left: 5px;
}
.qcw-comment .qcw-avatar img {
  width: 36px !important; height: 36px !important;
}
.qcw-comment {
  display: flex;
  position: relative;
  font-size: 12px;
  &.welcome:before{
      border: 0;
  }
  &.comment--me {
    justify-content: flex-end;
  }
}
.qcw-comment__content {
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  padding-right: 50px;
  font-size: 13.6px;
}
.qcw-comment__message {
  line-height: 1.7em;
  min-height: 30px;
  margin-bottom: 1px;
  max-width: 70%;
  background: $bubble-color;
  padding: 10px;
  position: relative;
  word-break: break-word;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  color: #444;
  text-align: left;
  a {
    transition: all .32s ease;
    color: #039be5;
    text-decoration: underline;
  }
  .comment--me & {
    background: $mybubble-color;
    color: #444;
  }
  .comment--parent & {
    border-radius: 8px 8px 8px 0;
    margin-top: 9px;
    min-width: 200px;
    padding: 10px;
  }
  .comment--parent.comment--me & {
    border-radius: 8px 0 0 8px;
  }
  .comment--mid & {
    border-radius: 0 8px 8px 0;
  }
  .comment--mid.comment--me & {
    border-radius: 8px 0 0 8px;
  }
  .comment--last & {
    border-radius: 0 8px 8px 8px;
  }
  .comment--last.comment--me & {
    border-radius: 8px 0 8px 8px;
  }
  .comment--parent.comment--last & {
    border-radius: 8px 8px 8px 8px;
  }
  .comment--parent &:after, .comment--parent.comment--me &:after {
    position: absolute;
    top: 0;
    pointer-events: none;
    content: " ";
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: $mybubble-color;
  }
  .comment--parent &:after {
    left: -8px;
    border-top-color: lighten($bubble-color, 20);
  }
  .comment--parent.comment--me &:after {
    left: auto;
    right: -8px;
  }
}
.welcome__message {
  padding-top: 5px;
  line-height: 1.7em;
  min-height: 68px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100%;
  background: #F4F4F4;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 3px 5px rgba(0,0,0,.15);
}
.qcw-comment__message p {
  margin: 0;
}
.qcw-comment__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 7px;
}
.qcw-comment__username {
  font-weight: bold; line-height: 1;
  color: #444;
}
.qcw-comment__time {
  font-size: 10px;
  color: #888;
  &--children {
    position: absolute;
    bottom: 9px; right: 10px;
  }
  &--attachment {
    position: absolute;
    bottom: -5px; right: 10px;
  }
}
.qcw-image-container {
  height: 100px; overflow: hidden;
  border-radius: 0 0 5px 5px;

  img {
    min-width: 200px;
    min-height: 110px;
    max-width: 100%;
    cursor: -webkit-zoom-in;
    &:hover {
      opacity: 1;
    }
  }
}
.qcw-file-container{
  border: 1px solid rgba(0,0,0,.1);
  background: rgba(255,255,255,.3);
  border-radius: 5px;
  padding: 10px;
  .comment--last &, .comment-mid {
    margin: 10px 0;
  }
  a {
      display: inline-block;
      color: #2c3e50;
  }
  i.fa{
    position: relative;
    font-size: 3em;
    color: #2c3e50;
    float: left;
    margin-right: 10px;
  }
  .file-name{
    word-break: break-word;
    line-height: 1.4;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
  }
}
.qcw-comment__state {
  font-size: 9px;
  position: absolute;
  top: 7px; left: -7px;
  color: #ccc;
  text-indent: -5px;
  transition: opacity .32s ease;
  opacity: .3;
  &.fa.fa-refresh {
    display: none;
  }
  .qcw-comment__message:hover & {
    opacity: 1;
  }
  .qcw-comment__message:hover &.fa.fa-times-circle {
    display: none;
  }
  .qcw-comment__message:hover &.fa.fa-refresh {
    display: unset;
    color: #3b97ac;
    font-size: 11px;
  }
  &.fa.fa-times-circle {
    opacity: 1;
    color: #e74c3c;
    font-size: 11px;
  }
  &--read {
    color: #3498db;
  }
}
.fa.fa-times-circle:hover {
  display: none;
}
.qcw-comment-date {
  text-align: center;
  color: #444;
  font-size: .8em;
  font-weight: bold;
  margin: 10px 0;
}
// let's style the link thumbnail thingy
.ejs-embed {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 25px;
  min-width: 250px;
//   border: 1px solid #ccc;
//   padding: 5px;
  .ejs-ogp-title { margin: 0 0 6px 0; }
  .ejs-ogp-title a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
  }
  .ejs-ogp-thumb {
    width: 50px; height: 50px;
    float: left;
    margin-right: 10px;
  }
  .ejs-ogp-details {
    left: 55px;
  }
}
.ejs-ogb-details {
  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  position: relative;
  margin-right: -1.5em;
  padding-right: 1em;
}
pre {
  background: #ccc;
  padding: 5px;
}
code {
  background: transparent;
}
.action_buttons {
  background: #e5e5e5;
  padding: 10px;
  margin: 10px -10px -10px -10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  button, a {
    flex-grow: 1;
    border: 0;
    color: #2d9cdb;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    &:hover {
      color: #8bd5f9;
    }
  }
}

// reply comment
.reply-wrapper {
  border-radius: 4px;
  background-color: #f4f2cc;
  padding: 10px 10px 10px 20px;
  position: relative;
  font-size: 12px;
  text-align: left;
  color: #757575;
  max-height: 150px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 10px;
  .reply-preview & {
    margin-bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 4px;
    height: calc(100% - 20px);
    background: #009688;
    border-radius: 100px;
  }
}
.reply-sender {
  font-size: 14px;
  text-align: left;
  color: #009688;
}
.reply-preview {
  position: absolute;
  bottom: 40px;
  width: 100%;
  max-height: 50%;
  line-height: 1.7em;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 2;
}
.reply-preview__close-btn {
  position: absolute;
  top: 9px; right: 5px;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
}
.fa.reply-btn {
  position: absolute;
  right: -40px;
  background: #b1c7c5;
  width: 20px; height: 20px;
  border-radius: 50%;
  color: #FFF;
  line-height: 20px;
  padding-left: 3px;
  top: 7px;
  display: none;
  cursor: pointer;
  &.reply-btn--me {
    right: auto;
    left: -40px;
  }
}
.qcw-comment-container:hover .reply-btn {
  display: block;
}
.reply-image-preview {
  overflow: hidden;
  img {
    float: left;
    width: 90px;
  }
  span {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    text-overflow: ellipsis;
  }
}
.reply-sender + div {
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 1.9em;
}
.qcw-comment-container {
  text-align: center;
}
.qcw-comment--system-event {
  background: #f4f2cc;
  font-size: 12px;
  padding: 5px 30px;
  border-radius: 50px;
  box-shadow: 0 1px 7px rgba(0,0,0,.1);
  display: inline-block;
  margin: 10px auto;
}
/* comment card */
.comment__card--container {
  width: 260px;
}
.comment__card--image {
  height: 170px;
  background-color: #7d7d7d;
  background-size: cover;
  margin: -7px -10px 0px -10px;
}
strong.comment__card--title {
  line-height: 3em;
  font-size: 13px;
  display: block;
}
.slide-y {
  transition: all .32s ease;
}
.slide-y-enter, .slide-y-leave-to
  /* .slide-y-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.slide-y-leave-active {
  position: absolute;
}
.qcw-carousel__item .comment__card--container {
  padding: 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,.3);
  overflow: hidden;
  transition: all .32s ease;
}
.qcw-comment--contact_person i.fa {
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 1.3em;
}
.qcw-comment--contact_person strong {
  font-size: 1.3em;
}
